In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('C:/Users/Yassine Lahniche/Desktop/PLBD/datasets/Data.csv')
df

,Day of Year,Year,Month,Day,First Hour of Period,Is Daylight,Distance to Solar Noon,Average Temperature (Day),Average Wind Direction (Day),Average Wind Speed (Day),Sky Cover,Visibility,Relative Humidity,Average Wind Speed (Period),Average Barometric Pressure (Period),Power Generated,Temperature_K,Density,Wind_power
0,245,2008,9,1,1,False,0.859897,69,28,7.5,0,10.0,75,8.0,29.82,0,293.705556,0.000354,409.628586
1,245,2008,9,1,4,False,0.628535,69,28,7.5,0,10.0,77,5.0,29.85,0,293.705556,0.000354,100.107590
2,245,2008,9,1,7,True,0.397172,69,28,7.5,0,10.0,70,0.0,29.89,5418,293.705556,0.000355,0.000000
3,245,2008,9,1,10,True,0.165810,69,28,7.5,0,10.0,33,0.0,29.91,25477,293.705556,0.000355,0.000000
4,245,2008,9,1,13,True,0.065553,69,28,7.5,0,10.0,21,3.0,29.89,30069,293.705556,0.000355,21.652215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2915,243,2009,8,31,10,True,0.166453,63,27,13.9,4,10.0,75,10.0,29.93,6995,290.372222,0.000359,812.225213
2916,243,2009,8,31,13,True,0.064020,63,27,13.9,1,10.0,66,15.0,29.91,29490,290.372222,0.000359,2739.428312
2917,243,2009,8,31,16,True,0.294494,63,27,13.9,2,10.0,68,21.0,29.88,17257,290.372222,0.000358,7509.451678
2918,243,2009,8,31,19,True,0.524968,63,27,13.9,2,10.0,81,17.0,29.87,677,290.372222,0.000358,3982.462879
2919,243,2009,8,31,22,False,0.755442,63,27,13.9,1,10.0,81,11.0,29.90,0,290.372222,0.000359,1079.988158

In [3]:
df.drop(['Day of Year',
         'Year',
         'Month',
         'Day',
         'First Hour of Period',
         'Distance to Solar Noon',
         'Average Temperature (Day)',
         'Average Wind Direction (Day)',
         'Average Wind Speed (Day)',
         'Sky Cover',
         'Visibility',
         'Relative Humidity'],
        axis=1)

,Is Daylight,Average Wind Speed (Period),Average Barometric Pressure (Period),Power Generated,Temperature_K,Density,Wind_power
0,False,8.0,29.82,0,293.705556,0.000354,409.628586
1,False,5.0,29.85,0,293.705556,0.000354,100.107590
2,True,0.0,29.89,5418,293.705556,0.000355,0.000000
3,True,0.0,29.91,25477,293.705556,0.000355,0.000000
4,True,3.0,29.89,30069,293.705556,0.000355,21.652215
...,...,...,...,...,...,...,...
2915,True,10.0,29.93,6995,290.372222,0.000359,812.225213
2916,True,15.0,29.91,29490,290.372222,0.000359,2739.428312
2917,True,21.0,29.88,17257,290.372222,0.000358,7509.451678
2918,True,17.0,29.87,677,290.372222,0.000358,3982.462879
2919,False,11.0,29.90,0,290.372222,0.000359,1079.988158